useDynLib(anomaly)
import("dplyr")
importFrom("graphics", "abline", "plot", "points")
importFrom("stats", "mad", "median", "var")
importFrom("rlang",".data")
importFrom(Rdpack,reprompt)
export(anomaly_series)
export(period_average)
S3method(print, anomaly_series)
S3method(summary, anomaly_series)
S3method(plot, anomaly_series)
